.talent-section{
    background-color: #014e56;
    width: 100%;
}
.talent{
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin-left: 10vw;
    margin-right: 10vw;
    column-gap: 45px;
    color: #fff;
    font-family: sans-serif;
    padding: 50px;
    padding-bottom: 140px;
}
.talent .text-1 h1 span{
    color: rgb(209, 87, 112);
}
.talent .text-1 h1{
    font-size: 6vw;
    margin: 0;
}
 
.text-2 p{
    grid-column: 8/-1;
    grid-row: 2/3;
    align-self: end;
    justify-self: end;
    height: 85%;
    display: flex;
    align-items: flex-end;
    position: relative;
    margin-bottom: 5px;
    font-size: 1.3vw;
    line-height: 1.8vw;
    font-weight: 600;
}

@media screen and (max-width:650px) {
    .talent{
        display: flex;
        flex-direction: column;
        margin-left: 50px;
        margin-right: 50px;
        gap: 20px;
        padding: 40px;
        padding-bottom: 100px;
        justify-content: center;
        align-items: center;
    }
    .talent .text-1 h1{
        width: 240px;
        height: 90px;
        text-align: center;
        font-size: 40px;
    }
    .text-2{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .text-2 p{
        text-align: center;
        font-size: 15px;
        line-height: 18px;
        font-weight: 600;
    }
}

@media screen and (min-width:650px) and (max-width:850px){
    .text-2 p{
        font-size: 13px;
        line-height: 19px;
        font-weight: 600;
    }
}